<!DOCTYPE html>
	<html>
		<head>
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-04K7R9K0GC"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'G-04K7R9K0GC');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			  <style>
    				.img-box {
      				    display: inline-block;
     				    width: 32%;
    				}

    				.img-box img {
      				    width: 100%;
      				    height: auto;
    				}
  			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<!-- <li><a href="/project">Senior Project (Turkish)</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ahmetfeyzi_ates@yahoo.com">email</a></li>
	        		<li><a href="https://github.com/ahmetfeyziates">github.com/ahmetfeyziates</a></li>
				</ul>
			</footer>
		</body>
	</html>
